<!-- app.component.html -->

<h2>Agenda</h2>

<table class="table table-striped">
  <thead>
<!-- titulo de cada uma das colunas -->
    <tr>
    <th scope="col">Nome</th>
    <th scope="col">RU</th>
    <th scope="col">Curso</th>
    <th scope="col">Data Nascimento</th>
  </tr>
  </thead>
  <tbody>
    <!-- ngFor itera sobre o objeto agenda, 
    gerando assim as linhas da tabela de maneira dinamica -->
  <tr *ngFor="let a of agenda; index as i">
    <td>{{ a.nome }} </td>
    <td>{{ a.ru }}</td>
    <td>{{ a.curso }}</td>
    <td>{{ a.dataNascimento }}</td>
  </tr>
  </tbody>
</table>